.home{
    height: 100vh;
    background-image: url('../images/home.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}
a{
    text-decoration: none;
}
.menu{
    height: 15vh;
}
.debut{

}
.fin{
    padding-top: 5vh;
    padding-right: 50px;
}
.logo{
    height: 13vh;
}
.login{
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    float: right;
}
